font-family = "CommitMono"

font-size = 16
adjust-cell-height = 40%

window-padding-x=10
window-padding-y=10
window-padding-balance=true
font-thicken=false

font-feature=-calt
font-feature=-liga
font-feature=-dlig

font-codepoint-map=U+E5FA-U+E62B=nonicons
font-codepoint-map=U+e700-U+e7c5=nonicons
font-codepoint-map=U+f000-U+f2e0=nonicons
font-codepoint-map=U+e200-U+e2a9=nonicons
font-codepoint-map=U+f0001-U+f1af0=nonicons
font-codepoint-map=U+e300-U+e3e3=nonicons
font-codepoint-map=U+f400-U+f532=nonicons
font-codepoint-map=U+2665=nonicons
font-codepoint-map=U+26A1=nonicons
font-codepoint-map=U+e0a0-U+e0a2=nonicons
font-codepoint-map=U+e0b0-U+e0b3=nonicons
font-codepoint-map=U+e0b4-U+e0c8=nonicons
font-codepoint-map=U+e0cc-U+e0d4=nonicons
font-codepoint-map=U+e0a3=nonicons
font-codepoint-map=U+e0ca=nonicons
font-codepoint-map=U+23fb-U+23fe=nonicons
font-codepoint-map=U+2b58=nonicons
font-codepoint-map=U+f300-U+f32f=nonicons
font-codepoint-map=U+e000-U+e00a=nonicons
font-codepoint-map=U+ea60-U+ebeb=nonicons
font-codepoint-map=U+2500-U+259f=nonicons

background = #131313
foreground = #b4b4b4
window-decoration = false

# macos-titlebar-style = hidden

# keybind = ctrl+i>t=new_tab

palette = 0=#212121
palette = 1=#ff8185
palette = 2=#81ffbb
palette = 3=#ffd6b3
palette = 4=#93c5fd
palette = 5=#818cf8
palette = 6=#97CCF1
palette = 7=#d5d5d5

palette = 8=#555555
palette = 9=#ff8185
palette = 10=#81ffbb
palette = 11=#ffd6b3
palette = 12=#93c5fd
palette = 13=#818cf8
palette = 14=#97CCF1
palette = 15=#d5d5d5

cursor-style-blink = false
